.random-tasks {
    display: flex;
    flex-direction: column;
    margin-top: 50px 0px;
    width: 300px;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.random-tasks__add-button {
    margin: 20px 0px;
}
